<!-- TODO: Invalidate Cache after a while -->
<div {{ attributes }}>
    {{ title_prefix }}
    {%  if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <ul>
            <li class="daily-password">
                <span class="code_copy">
                    <svg viewbox="0 0 20 20" style="height: 20px;">
                        <use href="#sidebar-mcopy" xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <a>Daily Code:
                        <span id="daily_password2" style="text-transform: none !important;">
                            {{ content }}
                        </span>
                    </a>
                </span>
            </li>
        </ul>
    {% endblock %}
</div>